@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/* ~~~~~~~~~~~~~~~~~RESET~~~~~~~~~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, rgb(193, 194, 193), transparent);
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
  min-height: 100vh;
}


.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.modal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal-overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  z-index: 10;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
} 
.modal-notice {
  background-color: #fff;
  opacity: 1;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.4);
  color: #444753;
  padding: 50px;
  z-index: 100;
  position: absolute;
  font-size: 1rem;
  line-height: 2;
  border-radius: 3px;
}


.chat-container {
  display: flex;
  position: relative;
  border-bottom-left-radius: 3px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 300px;
  padding: 30px;

}
.sign-in-form label {
  font-size: 2rem;
  line-height: 2;
}
.sign-in-form input,
.sign-in-form button {
  border-radius: 3px;
  border: 0;
  outline: none;
  height: 40px;
  width: 70%;
  padding: 10px 20px;
  font-size: 1rem;
}
.sign-in-form button {
  background-color: #86BB71;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  margin-top: 20px;
}

.new-chat-modal {
min-height: 300px;
  width: 400px;
}
.new-chat-form {
  min-height: 300px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 1.5rem
}
.new-chat-form input,
.new-chat-form button,
.invite-modal button {
  border: 1px solid #86BB71;
  height: 40px;
  border-radius: 3px;
  padding: 0 20px;
  font-size: 1rem;
  outline-color: #86BB71;
}
.new-chat-form button,
.invite-modal button {
  cursor: pointer;
  transition: all ease-out 0.5s;
}
.new-chat-form button:not(:disabled):hover {
  background-color: #fff;
  color: #434651;
}
.new-chat-form .action-button,
.invite-modal .action-button {
  color: #fff;
  font-weight: 600;
  background-color: #86BB71;
  opacity: 1;
}
.new-chat-form .action-button:disabled {
  opacity: 0.5;
  cursor: default;
}
.new-chat-form output {
  color: #E38968;
  font-size: 1rem;
  height: 32px;
}
.new-chat-form .switch-button {
  background-color: #fff;
  position: relative;
  line-height: 38px;
}
.new-chat-form .switch-button span {
  color: #86BB71;
  position: absolute;
  left: 10px;
}


.invite-modal {
  font-size: 1.3rem;
  text-align: center;
}
.invite-modal input {
  color: #86BB71;
  border: none;
  outline: none;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}


.users-button {
  display: none;
  position: absolute;
  color: #F52F74;
  width: 35px;
  height: 35px;
  left: 5px;
  top: 5px;
  cursor: pointer;
  transition: all ease-out 0.3s;
  z-index: 100;
  opacity: 0.7;
}
.users-button:hover {
  opacity: 1;
}
.users-switch {
  opacity: 0;
  position:absolute;
  top: 10px;
  left: 10px;
}
.users-switch + div {
  display: none;
}
.users-switch:checked + div {
  display: block;
}

.people-list {
  width: 260px;
  border-bottom-left-radius: 3px;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list button {
  width: 90%;
  border: 1px solid #f52f74;
  background-color: transparent;
  color: #f52f74;
  height: 50px;
  font-size: 1.1rem;
  margin: 5%;
  cursor: pointer;
  outline-color: #434651;
  border-radius: 5px;
  text-transform: uppercase;
}

.people-list ul {
  padding: 20px;
  max-height: 500px;
  overflow-y: scroll;
}
.people-list .member {
  padding-bottom: 20px;
  display: flex;
}

.people-list .about {
  margin-top: 8px;
  padding-left: 8px;
  font-size: 1.2rem;
  line-height: 30px;
}


.avatar {
  background-color: hotpink;
  border-radius: 50%;
  color: #ffffff;
  text-transform: uppercase;
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center;
  float: left;
  font-size: 1.6rem;
}

.chat {
  width: 490px;
  background: #F2F5F8;
  color: #434651;
  border-bottom-right-radius: 5px;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 65vh;
}
.chat-history ul {
  display: flex;
  flex-direction: column;
}
.message-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  display: inline-block;
  min-width: 70px;
  position: relative;
  word-break: break-word;
}
.chat .chat-history .message:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 6px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .my-message:after {
  margin-left: -6px;
  left: 15px;
}
.chat .chat-history .other-message {
  background: #94C2ED;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  right: 10px;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message input {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
  align-self: flex-end;
}


.clearfix {
  position: relative;

}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}



@media (max-width: 750px) {
  body{
    padding:0;
  }

  .makeStyles-root-1 {
    width: 99vw !important;
  }

  .users-button {
    display: block;
  }
  .people-list {
    display: none;
  }
  .people-list button {
    margin-top: 50px;
  }
  .chat .chat-history .message::after {
    margin-left: 0;
  }
  .chat .chat-history .other-message::after {
    left: 75%;
  }

  .sign-in-form.container {
    width: 100vw;
    height: 100vh;
    padding: 30vh 0;
    margin: 0;
    justify-content: space-evenly;
    border-radius: 0;
  }
  .sign-in-form label {
    font-size: 1.7rem
  }

  .modal-notice {
    width: 90vw;
    padding: 20px 2px;
  }
  .new-chat-modal {
    width: 100%;
    padding: 0 15px;
  }
  .new-chat-modal label {
    font-size: 1.3rem;
  }

  .invite-modal h4 {
    font-size: 1.3rem;
  }
  .invite-modal input {
    font-size: 1rem;
  }
  .chat {
    width: 100%;
  }
  .chat .chat-history {
    height: 70vh;
    width: 100%;
    padding-left: 40px;
  }
  .chat-message.clearfix {
    padding: 30px 10px;
  }
  
}
@media (max-width: 360px) {
  .chat .chat-history .message,
  .chat .chat-history .other-message {
    font-size: 12px;
    padding: 5px 10px;
  }
  .list li .avatar {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    line-height: 40px;
  }

}

@media (min-width: 760px) {
  .people-list {
    display: block !important;
  }
}